
 body{
    background: lightblue;
     border-radius: 5px;
}

  header {
        display: flex; /* Alinha os filhos (logo e nav) na mesma linha */
        align-items: center; /* Alinha verticalmente ao centro */
        justify-content: space-between; /* Espaço entre o logo e o menu */
        padding: 10px;
        background-color: blue;
    }

    header img {
        margin-right: 20px; /* Espaço à direita do logo */
    }

.hero {
    display: block;
    color: white;
    font-size: 15px;  
    
     border-top: 1px solid transparent;
}
.hero-content{
       
     background-color: black;
      background-size: contain ;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family: Arial;
     font-size: 20px;
    
}
   

.hero-content h1{
     text-transform: uppercase;
    font-size: 20px;

}
.hero-content p{
    text-transform: uppercase;
    }

.hero nav ul {
    text-align: right;
    margin: 10px 20px 0 0;
    
}
.hero nav li{
    display: inline-block;
    list-style: none;
    padding: 1px;
    
    border-radius: 5px;
    
}

.hero nav a{
    background: rgb(0,0,0, 0.5);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
      border-radius: 10px;
}


.hero nav a:hover{
    background: rgb(0,0,0, 1);
    display: block;
    padding: 11px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
     border-radius: 10px;
}
.eletronicaBasica{
    border: 2px solid black ;
      font-size: 15px;
    font-family: Arial;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 5px;
     margin-top: 50px;
}

.eletronicaDigital{
    border: 2px solid black ;
      font-size: 15px;
    font-family: Arial;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 5px;
     margin-top: 50px;
}

.automacao{
    border: 2px solid black ;
      font-size: 15px;      
    font-family: Arial;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 5px;
     margin-top: 50px;

} 

.eletronicaBasica a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
 
}

.eletronicaBasica a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: green;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;

}

.eletronicaDigital a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: green;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    
}

.eletronicaDigital a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
 
}

.automacao a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: green;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;

}

.automacao a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
 
}

.quemSou{
    border: 2px solid black ;
      font-size: 15px;
    font-family: Arial;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 5px;
     margin-top: 120px;
}
#projetos{
     
       margin-left: auto;
      margin-right: auto;
       border: 2px solid black ;
    border-radius: 5px;
    
  }

footer {
     text-align: left;
       background-color: black;
    font-size: 15px;
    font-family: Arial;
    color: white;
     border: 2px solid black transparent;
    border-radius: 5px;
    padding: 5px;
     margin-top: 150px;
      text-decoration: none;
    
    }
    a:link {
        text-decoration: none;
        margin-left: 10px;
        color: green;
        }

        .capitulos h1{
          color: white;
          font-family: Arial;
           font-weight: 700;
           text-transform: uppercase;
           text-decoration: underline;
        }
        .videos li{
    background: white;
    display: block;
    padding: 10px;
    color: black;  
    border: 2px solid black ;
      border-radius: 5px;
       font-family: Arial;
       font-weight: 700;
    text-decoration: none;
    
    font-size: 15px;
    margin-top: 10px;
    max-width: 80%;
    
        }

        .videos li :hover{       
  
     color: black;
     border: 2px solid black ;
      border-radius: 5px;
     background-color: yellow;
    
      
        }

    .videos a {
   background: yellow;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
     border: 2px solid black ;
      border-radius: 10px;
    
        }

      .videos a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
        }

        .aulas a {
   background: yellow;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
     border: 2px solid black ;
      border-radius: 10px;
    
        }

        .aulas a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
        }

        .aulas li{
    border: 2px solid black ;
      font-size: 15px;
    font-family: Arial;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 10px;
     margin-top: 20px;
             max-width: 80%;
}

         .aula1  {
            background: white;
    display: inline-block;
    padding: 20px;
        color: black;       
      border-radius: 5px;
       font-family: Arial;
       font-weight: 700;
    text-decoration: none;    
    font-size: 10px;
    margin-top: 10px;
    max-width: 100%; 
        }

.aula2  {
            background: white;
    display: inline-block;
    padding: 20px;
        color: black;       
      border-radius: 5px;
       font-family: Arial;
       font-weight: 700;
    text-decoration: none;    
    font-size: 10px;
    margin-top: 10px;
    max-width: 100%;  
        }

.aula1 a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: black;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.aula1 a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
 
}

.aula2 a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: black;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.aula2 a:hover{
    border: 2px solid black ;
    font-family: Arial;
    color: white;
     background-color: red;
 
}

.textoSenha{
    border: 10px solid black ;
      font-size: 100px;      
    font-family: Roboto, Sans-serif;
    color: black;
     background-color: white;
      text-align: center;
    border-radius: 10px;
    padding: 5px;
     margin-top: 20px;

} 



footer {
     text-align: left;
       background-color: black;
    font-size: 15px;
    font-family: Roboto, Sans-serif;
    color: white;
     border: 2px solid black transparent;
    border-radius: 5px;
    padding: 5px;
     margin-top: 150px;
      text-decoration: none;
    
    }
    a:link {
        text-decoration: none;
        margin-left: 10px;
        color: green;
        }

        .capitulos h1{
          color: white;
          font-family: Roboto, Sans-serif;
           font-weight: 700;
           text-transform: uppercase;
           text-decoration: underline;
        }
        .videos li{
    background: white;
    display: block;
    padding: 10px;
    color: black;  
    border: 2px solid black ;
      border-radius: 5px;
       font-family: Roboto, Sans-serif;
       font-weight: 700;
    text-decoration: none;
    
    font-size: 15px;
    margin-top: 10px;
    max-width: 80%;
    
        }

        .videos li :hover{       
  
     color: black;
     border: 2px solid black ;
      border-radius: 5px;
     background-color: yellow;
    
      
        }

    .videos a {
   background: yellow;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
     border: 2px solid black ;
      border-radius: 10px;
    
        }

      .videos a:hover{
    border: 2px solid black ;
    font-family: Roboto, Sans-serif;
    color: white;
     background-color: red;
        }

        .aulas a {
   background: yellow;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
     border: 2px solid black ;
      border-radius: 10px;
    
        }

        .aulas a:hover{
    border: 2px solid black ;
    font-family: Roboto, Sans-serif;
    color: white;
     background-color: red;
        }

        .aulas li{
    border: 2px solid black ;
      font-size: 15px;
    font-family: Roboto, Sans-serif;
    color: black;
     background-color: white;
    border-radius: 5px;
    padding: 10px;
     margin-top: 20px;
             max-width: 80%;
}

         .aula1  {
            background: white;
    display: inline-block;
    padding: 20px;
        color: black;       
      border-radius: 5px;
       font-family: Roboto, Sans-serif;
       font-weight: 700;
    text-decoration: none;    
    font-size: 10px;
    margin-top: 10px;
    max-width: 100%; 
        }

.aula2  {
            background: white;
    display: inline-block;
    padding: 20px;
        color: black;       
      border-radius: 5px;
       font-family: Roboto, Sans-serif;
       font-weight: 700;
    text-decoration: none;    
    font-size: 10px;
    margin-top: 10px;
    max-width: 100%;  
        }

.aula1 a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: black;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.aula1 a:hover{
    border: 2px solid black ;
    font-family: Roboto, Sans-serif;
    color: white;
     background-color: red;
 
}

.aula2 a{
    background: yellow;
    display: inline-block;
    padding: 5px;
    color: black;
    border: 2px solid black ;
      border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

.aula2 a:hover{
    border: 2px solid black ;
    font-family: Roboto, Sans-serif;
    color: white;
     background-color: red;
 
}

table {
    width: 100%;
    border-collapse: collapse; /* Bordas unificadas */
    margin: 15px 0;
    font-family: Arial, sans-serif;
}

table th, table td {
    border: 1px solid #ddd; /* Bordas suaves */
    padding: 8px; /* Espaçamento interno */
    text-align: center;
}

table th {
    background-color: #f4f4f4; /* Fundo do cabeçalho */
    color: #333;
}









































































